@keyframes rotacao{
    from {
        transform: rotate(0deg);                
        border-color: #17f9ff;
    }
    to {
        transform: rotate(360deg);                
        border-color: #17f9ff;
    }
}

/*@keyframes testando{
    from {
        transform: rotate(0deg);                
        border-color: #17f9ff;
    }
    to {
        transform: rotate(360deg);                
        border-color: #17f9ff;
    }

}*/

/*
@keyframes back{
    0%{
        opacity: 100%;
    }100%{
        opacity: 33%;
    }
}
*/

*{
	margin: 0;
    padding: 0; 

}

body{
    background-color: #dad6ca;
}

header{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 1136px;    
   /* box-sizing: border-box;*/    
    border-bottom: solid;
    border-color: #563444;
    padding: 32px 0;
    padding-bottom: 0px;
    margin: auto ;    
}



nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    color: #563444;;
}

a:hover{
    color: #1ec3ea;
}

.logo{
    display: inline-block; 
    vertical-align: middle;       
  /*  border-style: solid;
    box-sizing: border-box;*/

}

.introducao{
    margin: auto;
    margin-top: 60px;
    width: 1140px;    
    height: 368px;          
    /*border-style: solid;
    box-sizing: border-box;*/
}


.topo{        
    display: inline-block;
    vertical-align: middle;
    width: 751px;
    height: 246px;
    gap: 24px;
    opacity: 0px;
    margin-top: 60px;        
    padding-top: 5%;
    /*box-sizing: border-box;
    border-style: solid;
    border-color: red;*/
    padding: 0px;
}

.topo .msg1 .msg2{
    font-family: 'Raleway', Courier, monospace;     
}

.topo .msg1{
    font-size: 52px;
    width: 700px;   
}

.topo .msg2{
    font-size: 22px;
    width: 400px;   
}

.links ul{
    margin-top: 20px;
    list-style-type: none;        
}

.links ul li{
    display: inline-block;    
}

.links ul li a{    
    color: black;
    margin-right: 4px;
    text-decoration: none;
}

.links ul li a:hover{
    color: #1ec3ea;
}

.circle-image-frente{
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
	/*border-style: solid;
	border-color: #17f9ff;
    border-style: dotted;
    border-width: 8px;*/
    width: 300px;
    height: 300px;
    margin-top: 10px;
    box-shadow: 0px 0px 15px 6px  teal;    
}

.bordas{
    position: relative;
    top: -328px;
    left: -8px;
    border-radius: 100%;
	border-style: solid;
	border-color: #17f9ff;
    border-style: dotted;
    border-width: 8px;
    width: 300px;
    height: 300px;
    margin-top: 10px;    
    animation-name: rotacao;            
    animation-duration: 60s;    
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.circle-image{
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
	/*border-style: solid;
	border-color: #17f9ff;
    border-style: dotted;
    border-width: 8px;*/
    width: 300px;
    height: 300px;
    margin-top: 10px;
    gap: 0px;
    opacity: 0px;        
}


.sobre{    
    width: 100%;
    height: 430px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,134,153,1) 0%, rgba(79,134,112,1) 100%);
    /*background-color: #4f8699;       */
    /*border-style: solid;
    border-color: red;             
    box-sizing: border-box;*/
}

.sobre .sobre-mim{    
    width: 1136px;
    height: 255px;
    margin: auto;                
    /*background-color: #4f8699;   */     
    padding-top: 3%;
    margin-top: 5%;
}

.sobre .sobre-mim .paragrafo1{
    width: 800px;
    margin-top: 12px;    
    font-size: 22px;        
    font-family: 'Raleway';     
    /*background-color: #4f8699;*/
    color: #dad6ca;
}

.skills{    
    display: flex;
    position: relative;
    justify-content: space-between;    
    margin: auto;    
    width: 1136px;
    height: 400px;
/*    box-sizing: border-box;
    border-style: solid;
    border-color: red;*/
}


.skills-blocos{
    position: absolute;
    top: 28%;
    left: 10%;    
    animation-name: back;
    animation-timeline: scroll();
    /*box-sizing: border-box;
    border-style: solid;
    border-color: green;*/
}

.skills .tituloSkills{
    width: auto;
    font-size: 32px;
    margin-left: 45%;
    margin-top: 28px;
    height: 38px;
}

.skills ul{
    list-style-type: none;
}

.skills ul li{
    display: inline-block;    
}

.skills ul li i{
    font-size: 45px;        
}

.skills .skills-html{          
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.skills .skills-css{    
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.skills .skills-php{    
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.skills .skills-java{    
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.skills .skills-blocos  span{
    background-color: #e9f1f8;
    display: inline;
    margin-left: 2px;
    font-size: 20px;
}

.skills .skills-blocos .skills-icon{
    position: relative;
    top: 100px;
    margin-left: 4px;
    background-color: #e9f1f8;
}


/*Novo*/ 

.hobbies{    
    display: flex;
    position: relative;
    justify-content: space-between;    
    margin: auto;    
    width: 1200px;
    height: 400px;
    gap: 32px;
    opacity: 0px;
    /*box-sizing: border-box;
    border-style: solid;
    border-color: red;*/
}


.hobbies-blocos{
    position: absolute;
    top: 28%;
    left: 3.5%;
    animation-name: back;
    animation-timeline: scroll();    
    /*box-sizing: border-box;
    border-style: solid;
    border-color: green;*/
}

.hobbies .tituloHobbies{
    width: auto;
    font-size: 32px;
    margin-left: 45%;
    margin-top: 28px;
    height: 38px;
}

.hobbies ul{
    list-style-type: none;
}

.hobbies ul li{
    display: inline-block;    
}

.hobbies ul li i{
    font-size: 45px;        
}

.hobbies .hobbie-leitura{          
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.hobbies .hobbie-Corridar{          
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.hobbies .hobbie-Ciclismo{          
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.hobbies .hobbie-Podcast{          
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.hobbies .hobbie-gamer{          
    width: 176px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    /*background-color: #1ec3ea;*/
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0px 0px 15px 2px  teal;
}

.hobbies .hobbies-blocos  span{
    background-color: #e9f1f8;
    display: inline;
    margin-left: 2px;
    font-size: 20px;
    font-weight: bold;
}

.hobbies .hobbies-blocos .hobbies-icon{
    position: relative;
    top: 100px;
    margin-left: 4px;
    background-color: #e9f1f8;
}


/*Novo*/

.formacao{    
    display: flex;
    position: relative;
    justify-content: space-between;    
    margin: auto;    
    width: 100%;
    height: 500px;
    gap: 32px;
    opacity: 0px;
    /*box-sizing: border-box;
    border-style: solid;
    border-color: red;*/
    /*background-color: #4f8699;*/
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,134,153,1) 0%, rgba(79,134,112,1) 100%);
    color: #dad6ca;
}

.formacao-blocos{
    position: absolute;
    top: 25%;
    left: 40%;        
/*    box-sizing: border-box;
    border-style: solid;
    border-color: green;*/
}

.formacao .tituloFormacao{
    width: auto;
    font-size: 32px;
    margin-left: 39%;
    margin-top: 48px;
    height: 38px;
    /*background-color: #4f8699;*/
}

.formacao ul{
    list-style-type: none;
}

.formacao ul li{
    display: inline-block;    
}

.formacao .formacao-blocos .formacao-faculdade .formacao-icon .formacao-icon-ifs{
    width: 270px;
    height: 270px;
    padding: 16px 0px 0px 0px;
    gap: 8px;    
    background-color: #e9f1f8;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    /*box-shadow: 0px 0px 15px 2px  teal;*/
}


/*Novo*/

.projetos{
    margin: auto;
    margin-top: 60px;
    width: 1140px;    
    height: 508px;          
/*    border-style: solid;
    box-sizing: border-box;    
    border-color: darkblue;*/
}

.projetos .projeto{    
    position: relative;
    top: -48px;
    /*left: 15px;*/    
    width: 1135px;
    height: 390px;
    margin-top: 60px;        
    padding-top: 5%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,134,153,1) 0%, rgba(79,134,112,1) 100%);
    color: #dad6ca;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 1%;
    border-color: #4f8699;
    padding: 0px;
}

.projetos .projeto .circle-image{
    border-radius: 5%;   
    margin-left: 4px;
}

.projetos .projeto .texto-bloco{
    display: inline-block;
    position: relative;
    left: 10px;
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
/*    box-sizing: border-box;
    border-style: solid;
    border-color: green;*/
}

.projetos .projeto .projeto-skills .skills{    
    position: relative;
    top: -55px;
    left: 140px;
    height: 100px;
    width: 180px;
}

.projetos .projeto .titulo-skills{
    position: relative;    
    left: 35%;    
    text-align: center;
    font-weight: bold;
    font-size: 22px;    
}

.projetos .projeto .projeto-skills .skills .icon-skills{
    position: relative;
    top: 30px;
    left: -30%;
    height: 50px;
    /*box-sizing: border-box;
    border-style: solid;
    border-color: green;*/    
}

.projetos .projeto .projeto-skills .skills ul li i{
    font-size: 35px;            
}

.projetos .projeto .projeto-links{
    position: relative;
    top: -27%;
    left: 12%;
    width: 50px;    
    /*box-sizing: border-box;
    border-style: solid;
    border-color: yellow;    */
}

.projetos .projeto .projeto-links .links ul li i{    
    font-size: 35px;            
    color: #999966;
}

.projetos .projeto .projeto-links .links ul li i:hover{    
    position: relative;
    left: -10%;
    font-size: 40px;        
    color: #1ec3ea;    
}

.contatos{    
    margin: auto;
    margin-top: 15px;
    width: 1140px;    
    height: 508px;          
    border-style: solid;
    box-sizing: border-box;    
    background-color: rgba(79, 134, 153, 0.5);
}

.contatos .tituloContato{
    position: relative;
    top: 4%;
    text-align: center;
}

.contatos .img{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 45px;  
    left: 14.5%;
    border-color: #17f9ff;
    border-right: dotted;    
    border-width: 8px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    gap: 0px;
    opacity: 0px; 
}

.contatos .formulario-contato{
    display: inline-block;
    vertical-align: middle;
    width: 420px;
    height: 400px;
    position: relative;
    left: 20%;
    top: 50px;
}

.contatos .formulario-contato .formulario label{
    display: block;
    margin-bottom: 1px;
    font-size: 35px;
    text-align: center;
}

.contatos .formulario-contato .formulario input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contatos .formulario-contato .formulario input[type="submit"] {
    width: 100%;
    height: 100%;
    padding: 1px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contatos .formulario-contato .formulario input[type="submit"]:hover {
    background-color: #45a049;

}


footer{
    
    /*justify-content: space-between;*/
    align-items: center;
    height: auto;
    width: 1136px;    

   /* box-sizing: border-box;*/    
    /*border-top: solid;
    border-color: #563444;*/
    padding: 32px 0;
    padding-bottom: 0px;
    margin: auto ;
}