@keyframes rotacao{
    from {
        transform: rotate(0deg);                
        border-color: #17f9ff;
    }
    to {
        transform: rotate(360deg);                
        border-color: #17f9ff;
    }
}



**{
	margin: 0;
    padding: 0; 
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #dad6ca;
}

header{
    display: flex;    
    justify-content: space-between;
    
    align-items: center;
    max-width: 1136px;       
    border-bottom: solid;
    border-color: #563444;
    padding: 32px 0;
    padding-bottom: 0px;
    margin: auto ;    

}



nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    color: #563444;;
}

a:hover{
    color: #1ec3ea;
}

.logo{
    display: inline-block; 
    vertical-align: middle;         
}


/* fim do header*/

main{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: auto;    

}

/*início da introdução*/

.introducao{
    display: grid;
    grid-template-rows: 1fr;    
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    max-width: 1140px;
    min-width: 1fr;
    margin: auto;
    margin-top: 60px;
    height: 100vh;
    border-bottom: dotted;
    border-size: 1px;
}

.introducao .topo{
    grid-area: 1 1;
    
}

.topo .msg1 .msg2{
    font-family: 'Raleway', Courier, monospace;     
}

.topo .msg1{
    font-size: 5.3rem;
    max-width: 700px;         
    margin-bottom: 0px ;
    
}

.topo .msg2{    
    font-size: 2rem;
    max-width: 400px;  
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.introducao .circle-image-frente{
    grid-area: 1 2;
    display: flex;
    justify-content: center;
}

.introducao .circle-image-frente .circle-image{
    border-radius: 100%;    
    border-color: #17f9ff;    
    border-width: 8px;
    max-width: 550px;
    max-height: 550px;
    box-shadow: 0px 0px 15px 6px  teal;   
}

.circle-image{  
    width: 550px;
    height: 550px;
    border-width: 8px;
}


.bordas{
    position: absolute;
    top:22%;
    border-radius: 100%;
    border-style: solid;
    border-color: #17f9ff;
    border-style: dotted;
    border-width: 8px;
    width: 550px;
    height: 550px;  
    max-width: 550px;
    max-height: 550px;    
    animation-name: rotacao;            
    animation-duration: 60s;    
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.links ul{    
    list-style-type: none;        
}

.links ul li{
    display: inline-block;    
}

.links ul li a{    
    color: black;
    margin-right: 4px;
    text-decoration: none;
}

.links ul li a:hover{
    color: #1ec3ea;
}

/*fim da introdução*/


/* Início de "sobre" */

.sobre{    
    display: grid;
    grid-template-rows: 1fr;    
    grid-template-columns: 1fr 1fr;    
    max-width: 1140px;
    min-width: 1fr;
    margin: auto;    
    height: 100vh;
    margin: auto;
    color: #FFFAFA;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,134,153,1) 0%, rgba(79,134,112,1) 100%);
}

.sobre .tituloSobre{
    grid-area: 1 / 2 / 1 / 2;
    margin-left: 5px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0px;
}

.sobre .paragrafo1{
    grid-area: 1 / 2 / 1 / 2;
    margin-left: 5px;
    font-size: 2rem;
}

.sobre .fig-img{    
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 550px;
    height: auto;
    
}

.sobre .fig-img .img{
    border-right: dotted;
    border-width: 1px;
    grid-area: 1 / 1 / 1 / 1;
    width: 550px;
    height: 550px;
}

/*Fim do sobre*/



.skills{
    display: grid;
    position: relative;
    top: -25%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    width: 1140px;
    max-width: 1140px;
    min-width: 1fr;
    height: auto;
    margin: auto;       
}

.skills .tituloSkills{
    text-align: center;
}

.skills .skills-blocos{
    display: inline-grid;
    justify-content: center;
}

.skills ul{
    list-style-type: none;
}

.skills ul li{
    display: inline-block;    
}

.skills ul li i{
    font-size: 45px;        
}

.skills .skills-html,
.skills .skills-css,
.skills .skills-php,
.skills .skills-java {    
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 176px;
    height: 174px;
    padding: 16px 0;
    background-color: #e9f1f8;
    border: solid;
    border-width: 1px; /* ou border-style: solid; */
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0 0 15px 2px teal;
}

.skills .skills-blocos  span{
    
    background-color: #e9f1f8;
    margin-left: 2px;
    font-size: 20px;
    font-weight: bold;
}

.skills .skills-html:hover,
.skills .skills-css:hover,
.skills .skills-php:hover,
.skills .skills-java:hover {
    width: 180px;
    height: 176px;
    cursor: pointer;
}

/*Fim do Skils*/

/*hobbies   */

.hobbies{
    display: grid;
    position: relative;    
    top: -79%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    width: 1140px;
    max-width: 1140px;
    min-width: 1fr;
    height: auto;
    margin: auto;   
}

.hobbies .tituloHobbies{
    text-align: center;
}

.hobbies .hobbies-blocos{
    display: inline-grid;
    justify-content: center;
}

.hobbies ul{
    list-style-type: none;
}

.hobbies ul li{
    display: inline-block;    
}

.hobbies ul li i{
    font-size: 45px;        
}

.hobbies .hobbie-leitura,
.hobbies .hobbie-Corridar,
.hobbies .hobbie-Ciclismo,
.hobbies .hobbie-Podcast,
.hobbies .hobbie-gamer {    
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 166px;
    height: 164px;
    padding: 16px 0;
    background-color: #e9f1f8;
    border: solid;
    border-width: 1px; /* ou border-style: solid; */
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0 0 15px 2px teal;
}


.hobbies .hobbie-leitura:hover,
.hobbies .hobbie-Corridar:hover,
.hobbies .hobbie-Ciclismo:hover,
.hobbies .hobbie-Podcast:hover,
.hobbies .hobbie-gamer:hover {
    width: 170px;
    height: 166px;
    cursor: pointer;
}

/*Fim do hobbies*/

.formacao{
    display: grid;
    position: relative;
    top: -98%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    width: 1140px;
    max-width: 1140px;
    min-width: 1fr;
    height: auto;
    margin: auto;    
    color: #FFFAFA;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(79,134,153,1) 0%, rgba(79,134,112,1) 100%);
}



.formacao .tituloFormacao{
    text-align: center;
}

.formacao .formacao-blocos{
}

.formacao .formacao-faculdade{
    display: flex;
    justify-content: center;
}

.formacao .formacao-icon{
    width: 430px;
    height: 426px;
    padding: 16px 0;
    background-color: #e9f1f8;
    border: solid;
    border-width: 1px; /* ou border-style: solid; */
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0 0 15px 2px teal;
}

.formacao .formacao-icon .formacao-icon-ifs{
    width: 350px;
    height: 350px;
}

.formacao .formacao-icon figcaption{
    text-align: center;
    color: black;
}



@media screen and (max-width: 768px){
    header{
        display: none;
    }

    /*início da introdução*/
    .introducao{        
        grid-template-rows: 1fr 1fr ;    
        grid-template-columns: 1fr ; 
        height: 100vh;
    }

    .introducao .circle-image-frente{
        grid-area: 1 / 1 / 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;        

    }

    .introducao .topo{
        grid-area: 2 1;
    }

    
    .introducao .circle-image-frente .circle-image{
        width: 350px;
        height: 350px;

    }

    .introducao .bordas{
        top:inherit;
            width: 350px;
        height: 350px;
    }    

    .topo .msg1 .msg2{
        margin-top: 0px;
        font-family: 'Raleway', Courier, monospace;
        text-align: center;     
    }

    .topo .msg1{       
        margin-top: 0px; 
        width: 100%;
        font-size: 42px;        
    }

    .topo .msg2{
        font-size: 32px;   

    }      

    .links{
        display: flex;
        justify-content: flex-start;
       
    }

    .links .ul{
        display: flex;
        justify-content: flex-start;
    }

    .links ul li{
        text-align: center;
        position: relative;
        left: -5%;
        font-size: 18px;  /**/

    }  
    /*fim da introdução*/

    .sobre{
        grid-template-columns: 1fr;        
        width: 100%;
        height: 100vh;
    }

    .sobre .tituloSobre{
        font-size: 230%;
    }

    .sobre .paragrafo1{
        font-size: 185%;  
        font-weight: lighter;      
    }

    .sobre .fig-img{
        display: none;
    }
    /*Fim do sobre*/

    .skills{
        align-content: start;        
        
        top: inherit;
        margin: inherit;
        width: 100%;
        max-height: 310px;
        min-height: auto;
    }

    .skills .skills-blocos{        
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;        
    }

    .skills .skills-html,
    .skills .skills-css,
    .skills .skills-php,
    .skills .skills-java {    
        display: flex;        
        justify-content: center;        
        width: 106px;
        height: 100px;
        margin-bottom: 10px;
    }

    .skills .skills-html, .skills-css{    
        grid-area: 1 / 1 / 1 / 1;
    }

    .skills .skills-php, .skills-java{    
        grid-area: 2 / 1 / 2 / 1;
    }

    /*Fim de Skills*/

    .hobbies{
        align-content: start;        
        top: -59%;
        
        
        margin: inherit;
        width: 100%;
        max-height: 470px;
        min-height: auto;
    }

    .hobbies .hobbies-blocos{        
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;        
    }

    .hobbies .hobbie-leitura,
    .hobbies .hobbie-Corridar,
    .hobbies .hobbie-Ciclismo,
    .hobbies .hobbie-Podcast,
    .hobbies .hobbie-gamer {     
        display: flex;        
        justify-content: center;        
        width: 106px;
        height: 100px;
        margin-bottom: 10px;
    }
    /*Fim do hobbies*/

.formacao{
    top: -125%;
    width: 100%;
}

.formacao .tituloFormacao{
    text-align: center;
}

.formacao .formacao-blocos{
    width: 100%;
    display: flex;
    justify-items: center;

}

.formacao .formacao-faculdade{
    display: flex;
    justify-content: center;
}

.formacao .formacao-icon{
    width: 300px;
    height: 296px;
    padding: 16px 0;
    background-color: #e9f1f8;
    border: solid;
    border-width: 1px; /* ou border-style: solid; */
    box-sizing: border-box;
    border-color: #1ec3ea;
    border-radius: 4%;
    box-shadow: 0 0 15px 2px teal;
}

.formacao .formacao-icon .formacao-icon-ifs{
    width: 200px;
    height: 200px;
}

.formacao .formacao-icon figcaption{
    text-align: center;
    color: black;
}

html{
    margin-right: 0px;
    margin-left: 0px;
}

}   

